/* HOME PAGE */

.HPcontainerR,
.HPcontainerL {

    flex-direction: column;
}

.HPcontainerR {
    align-items: flex-end;
}

.HPcontainerL {
    align-items: flex-start;
}

/* CASE STUDY / ABOUT ME SECTION */


.CScontainerCcol {
    flex-direction: column;
    align-items: center;
}

.CScontainerCrow {
    flex-direction: row;
    justify-content: space-around;
}

.CScontainerL {
    flex-direction: column;
}

.CScontainerR {
    flex-direction: column;
}


/* ABOUT STYLING */

#aboutContainerCenter {
    justify-content: center;
    font-size: x-large;
}

#aboutContainerContent {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* END ABOUT STYLING*/