.header li a {
    background-color: #3D4073;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    border-radius: 20px;
}

/* HOME PAGE */

.HPcontainerC {
    font-size: xx-large;
}

.HPcontainerR,
.HPcontainerL {
    flex-direction: column;

}

.HPcontainerR p {
    font-size: 2vw;

}

.HPcontainerL p {
    font-size: 2vw;

}



.HPcontainerR {
    align-items: flex-end;
    padding-right: 5vw;

}

.HPcontainerL {
    align-items: flex-start;
    width: 40vw;
    padding-left: 5vw;

}

.imgIntro img {
    position: static;
    top: -15px;
    display: inline-block;
    width: auto;
    height: 60px;
    max-width: none;
    margin-top: -16px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    cursor: help;
    will-change: transform;
    transition: transform 250ms;
}

.imgIntro {
    transition: transform 0.7s ease-in-out;
    cursor: help;
}

.imgIntro:hover {
    transform: rotate(360deg);
}

/* CASE STUDY / ABOUT ME SECTION */

.CScontainerCcol {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.CScontainerCrow {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

}

.CScontainerCrow p {
    min-width: 25vw;
    max-width: 40vw;
    font-size: 2vw;
}

.CScontainerL {
    flex-direction: column;
}

.CScontainerR {
    flex-direction: column;
}

.CScontainerCrow img {
    min-width: 15vw;
    max-width: 30vw;
    max-height: 30vh;

}


.CScontainerCcol img {
    width: 30vw;
}

.wtf {
    text-align: justify;
}


/* ABOUT STYLING */

#aboutContainerCenter {
    justify-content: center;
    font-size: x-large;
    margin-top: 48px;
}

#aboutContainerContent {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#aboutContainerContent img {
    width: 100%;
    margin: 0vh 5vh 5vh 0vh;
    padding: 1vh;
    border: 2vw double #A62f03;
}


/* END ABOUT STYLING*/