.header li a {
    display: flex;
    padding: 20px 20px;
    border-right: 1px solid #F4F4F4;
    text-decoration: none;
    color: white;
    font-style: italic;
    background-color: #3D4073;
}

body {
    font-family: "Source Sans Pro";
    background-color: #fffbed;
}

/* HOME PAGE  */
.HPcontainerR,
.HPcontainerL {
    flex-direction: column;
}

.HPcontainerR img,
.HPcontainerL img {
    width: 100%;
}

/* Case Study  */

.CScontainerCcol,
.CScontainerCrow,
.CScontainerL,
.CScontainerR {
    flex-direction: column;
}

CScontainerCcol img {
    width: 100%;
}

/* ABOUT STYLING */

#aboutContainerCenter,
#aboutContainerContent {
    flex-direction: column;
}

#aboutContainerCenter {
    align-items: center;
}

#aboutContainerContent {
    align-items: center;
}

#aboutContainerContent img {
    width: 100%;
    margin: 5vh;
    padding: 2vh;
}

/* END ABOUT STYLING*/