body {
  margin: 0;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  background-color: #f2c438;
}

a {
  color: #000;
}

/* HEADER STYLING */

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* END MENU STYLING */

/* MEDIA STYLING */
/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

header:not(.header) {
  background: blue;
}

/* h1 {
  color: magenta;
} */


/* HOME PAGE STYLING */
.HPcontainerC {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 30vw;
  padding: 3vw;
}


.HPcontainerR,
.HPcontainerL {
  display: flex;

}

/* HOMEPAGE END */
/* CASE STUDY / ABOUT ME SECTION */


.CScontainerCcol {
  display: flex;
}

.CScontainerCrow {
  display: flex;
}

.CScontainerL {
  display: flex;
}

.CScontainerR {
  display: flex;
}









/* ABOUT STYLING */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#aboutContainerCenter {
  display: flex;
  color: #3D4073;
  text-shadow: 2px 2px white;
}

#aboutContainerContent {
  display: flex;
}

#aboutContainerContent p {
  background-color: #D9910D;
  padding: 4vw;
  margin: 5vw;
  border-style: double;
  border: 1vw double #2f3659;
  border-radius: 25px;

}

#aboutContainerContent img {
  width: 100%;
  margin: 0vh 5vh 5vh 0vh;
  padding: 1vh;
  border: 2vw double #2f3659;
  border-radius: 25px;

}



/* END ABOUT STYLING*/

/* colors 
lighter blue #3D4073
darker blue #2f3659
yellow #f2c438
orange #d9910d
red #A62f03 */