* {
  font-family: "Source Sans Pro";
  color: #3d4073;
}

h2,
h1 {
  font-family: "Cormorant Garamond";
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  background-color: #FFFBED;
}

a {
  color: #000;
}

/* HEADER STYLING */

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}


/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* END MENU STYLING */

/* MEDIA STYLING */
/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

header:not(.header) {
  background: blue;
}

/* h1 {
  color: magenta;
} */

/* HOME PAGE STYLING */
.HPcontainerC {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 18vw 18vw 9vw 18vw;
  text-align: justify;
}

.HPcontainerC .HPbox {
  width: 100vw;
}

.HPcontainerR,
.HPcontainerL {
  display: flex;
}

/* HOMEPAGE END */
/* CASE STUDY / ABOUT ME SECTION */

.CScontainerCcol {
  display: flex;
}

.CScontainerCrow {
  display: flex;
}

.CScontainerL {
  display: flex;
}

.CScontainerR {
  display: flex;
}


.CScontainerCcol p {
  margin: 2vw;
  padding: 1vw;
  border-radius: 25px;
}

.CScontainerCcol img {
  background-color: #d9910d;
  /* padding: 8vh 50vw 8vh 50vw; */
  padding: 4vh 20vw;
}

.CScontainerCrow p {
  padding: 1vw;
  border-radius: 25px;
  border: 0.5vw solid white;
  margin: 4vw;
}

.CScontainerCcol strong {
  font-size: xx-large;
}


#csCenter {
  display: flex;
  flex-direction: row;
  justify-items: center;

}

/* ABOUT STYLING */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#aboutContainerCenter {
  display: flex;
  color: white;
  text-shadow: 3px 3px rgb(240, 234, 234);
}

#aboutContainerContent {
  display: flex;
}

#aboutContainerContent p {
  padding: 4vw;
  margin: 5vw;
  border-radius: 25px;
}

#aboutContainerContent img {
  width: 100%;
  margin: 0vh 5vh 5vh 0vh;
  padding: 1vh;
  border: 2vw double #d9910d;
}


/* END ABOUT STYLING*/



/* FOOTER  */

footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vh;

}

/* colors 
lighter blue #3D4073
darker blue #2f3659
yellow #f2c438
orange #d9910d
red #A62f03 */